$maximum-width: 1235px;
$fluid-breakpoint: $maximum-width + 20px;
$column-breakpoint: 700px;
$small-breakpoint: 960px;


body {
  background: $white;
  border: 24px solid $white;
}

.container {
  box-sizing: border-box;
  /*max-width: $maximum-width;*/
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: $fluid-breakpoint) {
    width: 100%;
    padding: 0 10px;
  }
}

.rich-formatting {
  font-family: $font-sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $darker-text-color;
  padding-right: 10px;

  a {
    color: $highlight-text-color;
    text-decoration: underline;
  }

  p,
  li {
    font-family: $font-sans-serif, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 12px;
    color: $darker-text-color;

    a {
      color: $highlight-text-color;
      text-decoration: underline;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  strong,
  em {
    font-weight: 700;
    color: lighten($darker-text-color, 10%);
  }

  h1 {
    font-family: $font-display, sans-serif;
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;

    small {
      font-family: $font-sans-serif, sans-serif;
      display: block;
      font-size: 18px;
      font-weight: 400;
      color: lighten($darker-text-color, 10%);
    }
  }

  h2 {
    font-family: $font-display, sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;
  }

  h3 {
    font-family: $font-display, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;
  }

  h4 {
    font-family: $font-display, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;
  }

  h5 {
    font-family: $font-display, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;
  }

  h6 {
    font-family: $font-display, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;
  }

  ul,
  ol {
    margin-left: 20px;

    &[type='a'] {
      list-style-type: lower-alpha;
    }

    &[type='i'] {
      list-style-type: lower-roman;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li > ol,
  li > ul {
    margin-top: 6px;
  }

  hr {
    width: 100%;
    height: 0;
    border: 0;
    border-bottom: 1px solid rgba($ui-base-lighter-color, .6);
    margin: 20px 0;

    &.spacer {
      height: 1px;
      border: 0;
    }
  }
}

.information-board {
  background: darken($ui-base-color, 4%);
  padding: 20px 0;

  .container-alt {
    position: relative;
    padding-right: 280px + 15px;
  }

  &__sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__section {
    flex: 1 0 0;
    font-family: $font-sans-serif, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: $primary-text-color;
    text-align: right;
    padding: 10px 15px;

    span,
    strong {
      display: block;
    }

    span {
      &:last-child {
        color: $secondary-text-color;
      }
    }

    strong {
      font-family: $font-display, sans-serif;
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
    }

    @media screen and (max-width: $column-breakpoint) {
      text-align: center;
    }
  }

  .panel {
    position: absolute;
    width: 280px;
    box-sizing: border-box;
    background: darken($ui-base-color, 8%);
    padding: 20px;
    padding-top: 10px;
    border-radius: 4px 4px 0 0;
    right: 0;
    bottom: -40px;

    .panel-header {
      font-family: $font-display, sans-serif;
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
      color: $darker-text-color;
      padding-bottom: 5px;
      margin-bottom: 15px;
      border-bottom: 1px solid lighten($ui-base-color, 4%);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      a,
      span {
        font-weight: 400;
        color: darken($darker-text-color, 10%);
      }

      a {
        text-decoration: none;
      }
    }
  }

  .owner {
    text-align: center;

    .avatar {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      margin-bottom: 15px;

      img {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 48px;
      }
    }

    .name {
      font-size: 14px;

      a {
        display: block;
        color: $primary-text-color;
        text-decoration: none;

        &:hover {
          .display_name {
            text-decoration: underline;
          }
        }
      }

      .username {
        display: block;
        color: $darker-text-color;
      }
    }
  }
}

.landing-page {
  p,
  li {
    font-family: $font-sans-serif, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 12px;
    color: $darker-text-color;

    a {
      color: $highlight-text-color;
      text-decoration: underline;
    }
  }

  em {
    display: inline;
    margin: 0;
    padding: 0;
    font-weight: 700;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: lighten($darker-text-color, 10%);
  }

  h1 {
    font-family: $font-display, sans-serif;
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;

    small {
      font-family: $font-sans-serif, sans-serif;
      display: block;
      font-size: 18px;
      font-weight: 400;
      color: lighten($darker-text-color, 10%);
    }
  }

  h2 {
    font-family: $font-display, sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;
  }

  h3 {
    font-family: $font-display, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;
  }

  h4 {
    font-family: $font-display, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;
  }

  h5 {
    font-family: $font-display, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;
  }

  h6 {
    font-family: $font-display, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $secondary-text-color;
  }

  ul,
  ol {
    margin-left: 20px;

    &[type='a'] {
      list-style-type: lower-alpha;
    }

    &[type='i'] {
      list-style-type: lower-roman;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li > ol,
  li > ul {
    margin-top: 6px;
  }

  hr {
    width: 100%;
    height: 0;
    border: 0;
    border-bottom: 1px solid rgba($ui-base-lighter-color, .6);
    margin: 20px 0;

    &.spacer {
      height: 1px;
      border: 0;
    }
  }

  &__information,
  &__forms {
    padding: 20px;
  }

  &__call-to-action {
    background: darken($ui-base-color, 4%);
    border-radius: 4px;
    padding: 25px 40px;
    overflow: hidden;
    box-sizing: border-box;

    .row {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .row__information-board {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .information-board__section {
        flex: 1 0 auto;
        padding: 0 10px;
      }

      @media screen and (max-width: $no-gap-breakpoint) {
        width: 100%;
        justify-content: space-between;
      }
    }

    .row__mascot {
      flex: 1;
      margin: 10px -50px 0 0;

      @media screen and (max-width: $no-gap-breakpoint) {
        display: none;
      }
    }
  }

  &__logo {
    margin-right: 20px;

    img {
      height: 50px;
      width: auto;
      mix-blend-mode: lighten;
    }
  }

  &__information {
    padding: 45px 40px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      font-weight: 500;
      color: lighten($darker-text-color, 10%);
    }

    .account {
      border-bottom: 0;
      padding: 0;

      &__display-name {
        align-items: center;
        display: flex;
        margin-right: 5px;
      }

      div.account__display-name {
        &:hover {
          .display-name strong {
            text-decoration: none;
          }
        }

        .account__avatar {
          cursor: default;
        }
      }

      &__avatar-wrapper {
        margin-left: 0;
        flex: 0 0 auto;
      }

      &__avatar {
        width: 44px;
        height: 44px;
        background-size: 44px 44px;
      }

      .display-name {
        font-size: 15px;

        &__account {
          font-size: 14px;
        }
      }
    }

    @media screen and (max-width: $small-breakpoint) {
      .contact {
        margin-top: 30px;
      }
    }

    @media screen and (max-width: $column-breakpoint) {
      padding: 25px 20px;
    }
  }

  &__information,
  &__forms,
  #mastodon-timeline {
    box-sizing: border-box;
    background: $ui-base-color;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba($black, 0.1);
  }

  &__mascot {
    height: 104px;
    position: relative;
    left: -40px;
    bottom: 25px;

    img {
      height: 190px;
      width: auto;
    }
  }

  &__short-description {
    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 40px;
    }

    @media screen and (max-width: $column-breakpoint) {
      .row {
        margin-bottom: 20px;
      }
    }

    p a {
      color: $secondary-text-color;
    }

    h1 {
      font-weight: 500;
      color: $primary-text-color;
      margin-bottom: 0;

      small {
        color: $darker-text-color;

        span {
          color: $secondary-text-color;
        }
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__hero {
    margin-bottom: 10px;

    img {
      display: block;
      margin: 0;
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }
  }

  @media screen and (max-width: 840px) {
    .information-board {
      .container-alt {
        padding-right: 20px;
      }

      .panel {
        position: static;
        margin-top: 20px;
        width: 100%;
        border-radius: 4px;

        .panel-header {
          text-align: center;
        }
      }
    }
  }

  @media screen and (max-width: 675px) {
    .header-wrapper {
      padding-top: 0;

      &.compact {
        padding-bottom: 0;
      }

      &.compact .hero .heading {
        text-align: initial;
      }
    }

    .header .container-alt,
    .features .container-alt {
      display: block;
    }
  }

  .cta {
    margin: 20px;
  }
}

.landing {
  margin-bottom: 100px;

  .box-widget {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 738px) {
    margin-bottom: 0;
  }

  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    svg {
      fill: $primary-text-color;
      height: 52px;
    }

    @media screen and (max-width: $no-gap-breakpoint) {
      padding: 0;
      margin-bottom: 30px;
    }
  }

  .directory {
    margin-top: 30px;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
  }

  .hero-widget {
    margin-bottom: 0;

    h4 {
      padding: 10px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: $darker-text-color;
    }

    &__text {
      border-radius: 0;
      padding-bottom: 0;
    }

    &__footer {
      background: $ui-base-color;
      padding: 10px;
      border-radius: 0 0 4px 4px;
      display: flex;

      &__column {
        flex: 1 1 50%;
      }
    }

    .account {
      padding: 10px 0;
      border-bottom: 0;

      .account__display-name {
        display: flex;
        align-items: center;
      }

      .account__avatar {
        width: 44px;
        height: 44px;
        background-size: 44px 44px;
      }
    }

    &__counter {
      padding: 10px;

      strong {
        font-family: $font-display, sans-serif;
        font-size: 15px;
        font-weight: 700;
        display: block;
      }

      span {
        font-size: 14px;
        color: $darker-text-color;
      }
    }
  }

  .simple_form .user_agreement .label_input > label {
    font-weight: 400;
    color: $darker-text-color;
  }

  .simple_form p.lead {
    color: $darker-text-color;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  &__grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    grid-gap: 30px;

    @media screen and (max-width: 738px) {
      grid-template-columns: minmax(0, 100%);
      grid-gap: 10px;

      &__column-login {
        grid-row: 1;
        display: flex;
        flex-direction: column;

        .box-widget {
          order: 2;
          flex: 0 0 auto;
        }

        .hero-widget {
          margin-top: 0;
          margin-bottom: 10px;
          order: 1;
          flex: 0 0 auto;
        }
      }

      &__column-registration {
        grid-row: 2;
      }

      .directory {
        margin-top: 10px;
      }
    }

    @media screen and (max-width: $no-gap-breakpoint) {
      grid-gap: 0;

      .hero-widget {
        display: block;
        margin-bottom: 0;
        box-shadow: none;

        &__img,
        &__img img,
        &__footer {
          border-radius: 0;
        }
      }

      .hero-widget,
      .box-widget,
      .directory__tag {
        border-bottom: 1px solid lighten($ui-base-color, 8%);
      }

      .directory {
        margin-top: 0;

        &__tag {
          margin-bottom: 0;

          & > a,
          & > div {
            border-radius: 0;
            box-shadow: none;
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

.logo {

    h1 {
    margin: 0 0 24px;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -0.5px;
    
      .brand {
        display: block;
        margin: 40px auto;
        text-decoration: none;
      }
    }
}

.brand__tagline {
  font-weight: 300;
  font-size: 18px;
  margin-left: 8px;
  color: rgba(0,0,0,.7);


  @media screen and (max-width: $no-gap-breakpoint) {
    position: static;
    width: auto;
    margin-top: 20px;
    color: $dark-text-color;
  }
}


.yellow-public-layout {
  /*html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgba(0, 0, 0, .9);
    font-weight: normal;
    font-size: 18px;
  }

  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background: #fff;
    border: 24px solid #fff;
  }*/

  .yellow-container {
    background: #ffeb3b;
    border-radius: 28px;
    margin-bottom: 28px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgba(0, 0, 0, .9);
    font-weight: normal;
    font-size: 18px;
  }

  a {
    color: rgba(0, 0, 0, .8);
    &:hover {
      border-bottom: 2px solid rgba(0, 0, 0, .9);
    }
  }

  h3 {
    font-size: 32px;
    margin: 0;
  }

  h4 {
    font-size: 27px;
    margin: 0;
  }

  p, ul {
    margin: 18px 0;
    line-height: 24px;
  }

  .form-group {
    margin-right: 16px;
    label {
      display: block;
      padding: 4px;
    }
    input {
        border: 1px solid rgba(0,0,0,.1);
        font-size: 18px;
        padding: 8px;
        border-radius: 4px;
        transition: all 100ms ease;
        &:active, &:focus {
          box-shadow: 0 0 0 5px rgba(0,0,0,.1);
          outline: none;
        }
    }
  }

  .highlight {
    background: #ffeb3b;
      border-radius: 21px;
  }
  .cooky {
    transform: rotate(8deg) scale(1.15) translateX(4px);
      display: inline-block;
  }

  .container {
    width: 100%;
    /*max-width: 1320px;*/
    margin: 0 auto;
    padding: 0 60px;
    @media (max-width: 768px) {
      padding: 0 30px;
    }
    @media (max-width: 420px) {
      padding: 0 16px;
    }
    .inner-container {
      margin-left: 226px;
      @media (max-width: 1240px) {
        margin-left: 0;
      }
    }
  }

  .btn {  
      height: 39px;
    background: #22CCDF;
      border: 1px solid #22CCDF;
      color: #fff;
      font-size: 18px;
      padding: 8px 16px;
      border-radius: 4px;
      font-weight: 500;
      transition: all 100ms ease;
      &:active, &:focus {
        box-shadow: 0 0 0 5px rgba(0,0,0,.1);
        outline: none;
      }
  }

  header {
    display: flex;
    align-items: center;
    padding-top: 32px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
    a {
      text-decoration: none;
      font-weight: bold;
    }
    h1 {
      font-size: 32px;
      margin: 0;
      letter-spacing: -.5px;
      transform: translateY(-3px);
      a {
        font-weight: 900;
          transition: all 50ms ease;
        &:hover {
          border-bottom: 5px solid rgba(34, 204, 223, .5);;
        }
      }
    }
    .value-prop-links {
      margin-left: 8px;
      @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 16px;
      }
      a {
        margin-left: 16px;
      }
    }
    .login-links {
      margin-left: auto;
      @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 8px;
      }
      a {
        margin-left: 16px;
      }
    }
  }

  .blurb {
    margin: 32px 20px;
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, .7);
  }

  .hero-blurbs {
    padding-top: 150px;
    padding-bottom: 240px;
    @media (max-width: 768px) {
        margin-top: 90px;
        margin-bottom: 150px;
    }
    .ec {
      font-size: 54px;
        margin-right: 8px;
    }
    h1 {
      font-weight: 900;
      font-size: 72px;
      margin: 0;
    }
    h2 {
      margin: 16px 0;
      font-weight: 300;
      font-size: 32px;
      color: rgba(0, 0, 0, .7);
    }
    @media (max-width: 1040px) {
      h1 {
        font-size: 54px;
      }
      h2 {
        font-size: 27px;
      }
    }
    @media (max-width: 768px) {
      h1 {
        font-size: 36px;
      }
    }
    .form-holder {
      max-width: 640px;
      width: 100%;
      background: #f8f8f8;
        padding: 32px;
        border-radius: 21px;
        margin-top: 30px;
      @media (max-width: 960px) {
        max-width: 420px;
      }
        p {
          font-weight: bold;
          margin: 0 0 16px;
        }
      form {
        display: flex;
        .form-group {
          input {
              width: 210px;
          }
        }
        @media (max-width: 960px) {
          flex-direction: column;
          max-width: 420px;
          .form-group {
              margin-right: 0;
              margin-bottom: 8px;
            input {
                width: 100%;
            }
          }
        }
      }
    }
  }

  .succcess {
    max-height: 640px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .value-props {
    display: flex;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    .value-prop {
      width: 50%;
      padding-right: 32px;
      @media (max-width: 768px) {
          width: 100%;
      }
      h3 {
      }
      ul {
        list-style: none;
        padding: 0;
        li {
            position: relative;
          margin-bottom: 32px;
          padding-left: 40px;
          .ec {
            position: absolute;
            top: 0;
              left: 0;
              font-size: 27px;
              display: inline-block;
              transform: translate(0px, 2px);
                margin-right: 4px;
          }
          .highlight {
            margin-right: 0;
            padding: 0;
          }
        }
      }
    }
  }

  .shop-content {
    margin-top: 180px;
    @media (max-width: 768px) {
        margin-top: 120px;
    }
    .shop-carousel {
      display: flex;
      flex-wrap: wrap;
      margin-left: -12px;
      .slick-arrow {
        display: none !important;
      }
      .slick-list {
        padding: 8px;
      }
      .carousel-item {
        min-height: 160px;
        background: #f8f8f8;
        padding: 32px;
        margin: 12px;
        border-radius: 21px;
        transition: all 250ms ease;
        &:hover {
          transform: scale(1.05);
        }
        .ec {
          float: left;
          font-size: 24px;
          transform: translateY(3px);
            margin-right: 8px;
        }
        h4 {
          margin: 0; 
        }
        .btn {
          opacity: .5;
            cursor: not-allowed;
        }
      }
    }
  }

  .joke-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 640px;
    .joke {
      display: flex;
      flex-direction: column;
      > div {
        font-size: 64px;
        font-weight: 100;
        .parent-joke {
          font-size: 54px;
        }
      }
    }
  }


  footer {
    position: relative;
    padding: 120px 0 150px;
    background: #22CCDF;
    border-radius: 28px;
    @media (max-width: 580px) {
      padding: 60px 0 90px;
    }
    .ec {
        float: left;
        font-size: 36px;
        margin: 0 4px;
      @media (max-width: 1240px) {
        float: none;
      }
    }
    p {
      color: #fff;
      font-size: 24px;
      font-weight: 300;
      a {
        color: #fff;
      }
    }
    form {
      display: flex;
      @media (max-width: 580px) {
        flex-direction: column;
      }
      .form-group {
        input {
          border: none;
          width: 320px;
        }
        @media (max-width: 580px) {
          margin-right: 0;
          input {
            width: 100%;
            margin-bottom: 8px;
          }
        }
      }
      .btn {
        border: 2px solid rgba(255,255,255,.5);
        @media (max-width: 580px) {
          width: 132px;
        }
      }
    }
    .copyright {
      font-size: 12px;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

