

<div class="yellow-container">

  <div class="container">
    <header>
      <h1><a href="/" class="highlight">clubhouse</a></h1>
      <div class="value-prop-links">
        <a href="/auth/sign_up">For Kids</a>
        <a href="/auth/sign_up">For Parents</a>
      </div>
      <div class="login-links">
        <a href="/auth/sign_up">Sign Up</a>
        <a href="/auth/sign_in">Log In</a>
      </div>
    </header>
    <p class="blurb">We are a kid-friendly social media company</p> 
  </div>
    
  <div class="container">
    <div class="inner-container">
      <div class="hero-blurbs">
        <span class="ec ec-boy"></span>
        <span class="ec ec-liv"></span>
        <span class="ec ec-girl-brown"></span>  
        <h1>Kids: <span class="highlight">an online space for you and your IRL friends</span></h1>
        <h2>Parents: your child's online safe space to learn and grow with friends</h2>

          <div class="form-holder">
            <p>Clubhouse is in private beta. Ask to join and we'll get you added as soon as we can. :)</p>
            <form action="https://api.staticforms.xyz/submit" method="post"> 
              <!-- https://www.staticforms.xyz/ -->
                <input type="hidden" name="accessKey" value="0d9199ce-e281-4eda-a467-391e751eeed0">
                <div class="form-group">
                  <!-- <label for="">Name</label> -->
                  <input type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <!-- <label for="">Email</label> -->
                  <input type="text" name="email" placeholder="Email">
                </div>
                <!-- Specify @ as reply to value if you want it to be customers email -->
                <input type="hidden" name="replyTo" value="@"> <!-- Optional -->
                <!-- If you want form to redirect to a specific url after submission -->
                <input type="hidden" name="redirectTo" value="https://clubhouse.center/success"> <!-- Optional -->
                <input class="btn" type="submit" value="Ask to Join" />
            </form>
          </div>
      </div>

      <div class="value-props">
        <div class="kid-props value-prop">
          <h3>Kids<span class="cooky">!</span></h3>
          <ul>
            <li><span class="ec ec-two-women-holding-hands"></span><b class="highlight">Connect with your friends</b>whenever and wherever you want.</li>
            <li><span class="ec ec-camera-flash"></span><b class="highlight">Share your favorite pictures and video</b>with your friends online.</li>
            <li><span class="ec ec-space-invader"></span><b class="highlight">Buy games and activities from the shop</b>to play with your friends on and offline.</li>
          </ul>
        </div>
        <div class="parent-props value-prop">
          <h3>Parents<span class="cooky">!</span></h3>
          <ul>
            <li><span class="ec ec-speaking-head"></span><b class="highlight">Support your child's social development</b>in a safe, online space.</li>
            <li><span class="ec ec-eyes"></span><b class="highlight">Observe how your child communicates</b>with friends on the Internet.</li>
            <li><span class="ec ec-art"></span><b class="highlight">Unlock educational games and activities</b>for your child to do with friends.</li>
          </ul>
        </div>
      </div>
    </div> 
  </div>

  <div class="shop-content">

    <div class="container">
      <div class="inner-container">
        <h3>Clubhouse Shop<span class="cooky">!</span></h3>
        <p>Clubhouse has activities and games to enjoy with your friends. Many more coming soon!</p>

        <div class="shop-carousel">
          <div>
            <div class="carousel-item">
              <span class="ec ec-mountain-snow"></span><span class="ec ec-running-man"></span>
              <h4>Choose Your Own Adventure</h4>
              <p>Go on an adventure together with friends.</p>
              <button class="btn">Coming Soon</button>
            </div>
          </div>
          <div>
            <div class="carousel-item">
              <span class="ec ec-memo"></span><span class="ec ec-robot"></span>
              <h4>Writingbot</h4>
              <p>Write a story together with friends.</p>
              <button class="btn">Coming Soon</button>
            </div>
          </div>
          <div>
            <div class="carousel-item">
              <span class="ec ec-badminton"></span>
              <span class="ec ec-repeat"></span>
              <h4>Stuff Trader</h4>
              <p>Trade physical and digital goods with clubhouse gems.</p>
              <button class="btn">Coming Soon</button>
            </div>
          </div>
          <div>
            <div class="carousel-item">
              <span class="ec ec-grinning"></span>
              <span class="ec ec-clown-face"></span>
              <h4>Emoji ++</h4>
              <p>Communicate better with a premium emoji pack.</p>
              <button class="btn">Coming Soon</button>
            </div>
          </div>
          <div>
            <div class="carousel-item">
              <span class="ec ec-deciduous-tree"></span>
              <span class="ec ec-bow-and-arrow"></span>
              <h4>Clubcraft</h4>
              <p>Build your own clubhouse world, similar to Minecraft</p>
              <button class="btn">Coming Soon</button>
            </div>
          </div>
          <div>
            <div class="carousel-item">
              <span class="ec ec-art"></span>
              <span class="ec ec-robot"></span>
              <h4>Artbot</h4>
              <p>Create and share art projects in clubhouse.</p>
              <button class="btn">Coming Soon</button>
            </div>
          </div>
          <div>
            <div class="carousel-item">
              <span class="ec ec-video-game"></span>
              <span class="ec ec-rocket"></span>
              <h4>Gamelaunch</h4>
              <p>Launch third-party games that you play with your clubhouse friends.</p>
              <button class="btn">Coming Soon</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="joke-holder">
      <div class="joke">
        <div class="kid-joke">Kid: Facebook for Kids</div>
        <div class="parent-joke">Parent: Twitter 2007</div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
      <span class="ec ec-dad"></span>
      <span class="ec ec-finn"></span>
      <span class="ec ec-liv"></span> 
      <div class="inner-container">
          <p>Join our occasional newsletter for thoughts about kids, parents, and technology.</p>
          <form action="https://api.staticforms.xyz/submit" method="post">
              <input type="hidden" name="accessKey" value="0d9199ce-e281-4eda-a467-391e751eeed0">
              <div class="form-group">
                  <input type="text" name="email" placeholder="Email">
              </div>
              <!-- Specify @ as reply to value if you want it to be customers email -->
              <input type="hidden" name="replyTo" value="@"> <!-- Optional -->
              <!-- If you want form to redirect to a specific url after submission -->
              <input type="hidden" name="redirectTo" value="https://clubhouse.center/success"> <!-- Optional -->
              <input class="btn" type="submit" value="Subscribe" />
          </form>
          <p>Follow us on <a href="https://www.instagram.com/clubhouse.center/" target="_blank">Instagram</a> and <a href="https://twitter.com/clubhousecenter" target="_blank">Twitter</a></p>
          <p>Email us at <a href="mailto:jfals82@gmail.com">hello@clubhouse.center</a></p>
      </div>
      <!-- <div class="copyright">
          © 2019 | Clubhouse
      </div> -->
  </div>
</footer>
