
<div class="yellow-container">
	<div class="container">
		<div class="succcess">
			<div class=" hero-blurbs">
				<h1><span class="highlight">Hooray<span class="cooky">!</span></span></h1>
				<h2>We're excited to invite you to the club. You'll get an email once we are ready.</h2>
			</div>
		</div> 
	</div>
</div>
	
<footer>
  <div class="container">
      <span class="ec ec-dad"></span>
      <span class="ec ec-finn"></span>
      <span class="ec ec-liv"></span> 
      <div class="inner-container">
          <p>Join our occasional newsletter for thoughts about kids, parents, and technology.</p>
          <form action="https://api.staticforms.xyz/submit" method="post">
              <input type="hidden" name="accessKey" value="0d9199ce-e281-4eda-a467-391e751eeed0">
              <div class="form-group">
                  <input type="text" name="email" placeholder="Email">
              </div>
              <!-- Specify @ as reply to value if you want it to be customers email -->
              <input type="hidden" name="replyTo" value="@"> <!-- Optional -->
              <!-- If you want form to redirect to a specific url after submission -->
              <input type="hidden" name="redirectTo" value="/success"> <!-- Optional -->
              <input class="btn" type="submit" value="Subscribe" />
          </form>
          <p>Follow us on <a href="https://www.instagram.com/clubhouse.center/" target="_blank">Instagram</a> and <a href="https://twitter.com/clubhousecenter" target="_blank">Twitter</a></p>
          <p>Email us at <a href="mailto:jfals82@gmail.com">hello@clubhouse.center</a></p>
      </div>
      <!-- <div class="copyright">
          © 2019 | Clubhouse
      </div> -->
  </div>
</footer>